@import url('https://fonts.googleapis.com/css?family=Magra');
*{
    margin:0;
    padding:0;
}
button{
    position:fixed;
    z-index:1;
}
.bg{
    height:100vh;
    width:100%;
    position:fixed;
}
.text-container{
    font-family: 'Dosis', sans-serif;
    border-radius:12px;
    font-weight:bolder;
    width:1080px;
    padding:16px 24px;
    position:absolute;
    z-index:1;
    height:260px;
    background:rgb(0,0,0,0.8);
    bottom:5%;
    margin:0 auto;
    left:50%;
    display:flex;
    font-size:36px;
    transform:translateX(-50%);

}
.text-container-name{
    margin-right:8px;
    text-shadow: -3px 0px 0px rgba(255, 0, 255, 1);
    width:auto;
    color:rgba(255,255,255,0.4);
}
.text-container-tchat{
    word-wrap: break-word;
    color:white;
    width:920px;
}